{% extends 'paragraph.html.twig' %}
{% block content %}
  <div class="accordion-item">
    <h4{{ title_attributes }}>{{ content.field_title }}</h4>
    <div>{{ content.field_body }}</div>
  </div>
{% endblock %}