@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@font-face {
  font-family: 'icomoon';
  src:  url('/themes/staffordshire/fonts/icomoon.eot?9jnhlv');
  src:  url('/themes/staffordshire/fonts/icomoon.eot?9jnhlv#iefix') format('embedded-opentype'),
    url('/themes/staffordshire/fonts/icomoon.ttf?9jnhlv') format('truetype'),
    url('/themes/staffordshire/fonts/icomoon.woff?9jnhlv') format('woff'),
    url('/themes/staffordshire/fonts/icomoon.svg?9jnhlv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-measure:before {
  content: "\f0b2";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-bath:before {
  content: "\e903";
}
.icon-dollar:before {
  content: "\e904";
}
.icon-bed:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-handshake:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-briefcase:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e90b";
}
.site-wrap {
    h1 {
        font-size:50px;
        font-weight:300;
        color:$blue;
        line-height: 75px;
        @include breakpoint(xs) {
            font-size: 40px;
            line-height: 55px;
        }
    }
    h2 {
        font-size:40px;
        font-weight:700;
        line-height: 52px;
        text-transform:uppercase;
        margin:0 0 20px 0;
        letter-spacing:1px;
        @include breakpoint(xs) {
            font-size: 30px;
            line-height: 42px;
        }
    }
    h3 {
        font-size: 30px;
        font-weight: 700;
        margin:30px 0 18px 0;
        @include breakpoint(xs) {
            font-size: 20px;
        }
    }
    h4 {
        font-size:20px;
        margin:30px 0 18px 0;
    }
    p {
        font-size:18px;
        line-height:32px;
        margin-bottom:20px;
        &.lead {
            text-transform:none;
            font-weight:200;
            font-family:$font-rb;
            font-size:35px;
            line-height:40px;
            margin:0 0 30px 0;
        }
    }
    ul {
        margin-bottom: 35px;
        padding-left: 15px;
        &.unstyled {
            list-style-type: none;
            padding: 0;
        }  
        &.two-col {
            columns:2;
            column-gap: 60px;
            list-style-type: none;
            padding:0;
            @include breakpoint(xs) {
                columns:1;
            } 
            li {
                page-break-inside: avoid;
                break-inside: avoid;
            }
        }
        &.three-col {
            columns:3;
            column-gap: 60px;
            list-style-type: none;
            padding:0;
            @include breakpoint(xs) {
                columns:1;
            } 
            li {
                border-bottom: 1px solid $lt-gray;
                page-break-inside: avoid;
                break-inside: avoid;
            }
        }
        &.styled {
            li {                
                &::before {
                    content: "•";
                    font-size: 45px;
                    left: 0;
                    line-height: 21px;
                    position: absolute;
                    top: 0;
                }
                ul {
                    li {
                        &::before {
                            color: $blue;
                            content: "—";
                            font-size: 16px;
                            left: 0;
                            position: absolute;
                            top: 0;
                        }
                    }
                }
            }
            &.blue {
                list-style-type: none;
                padding:0;
                li {
                    position: relative;
                    padding-left:20px;
                    &::before {
                        color: $blue;
                    }
                }
            } 
        }   
        li {            
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            margin-bottom:10px;
            ul {
                margin:10px 0 0 0;
            }
        }
    }
    ol {
        counter-reset: section;  
        list-style-type: none;
        margin-bottom:35px;
        padding: 0;
        &.unstyled {
            list-style-type: none;
            padding: 0;
        }  
        &.two-col {
            columns:2;
            column-gap: 60px;
            padding:0 0 0 15px;
            @include breakpoint(xs) {
                columns:1;
            }
        }
        li {
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            margin-bottom:10px;
            padding-left:  30px;
            position: relative;
            &::before {
                counter-increment: section;           
                content: counter(section);
                font-size:18px;
                font-weight: 700;
                left: 0;
                line-height: 28px;
                position: absolute;
                top: 0;
            }                
            ol {
                margin:10px 0 0 0;
            }
        }
    }
    a {
        text-decoration: none;
        @include transition(color .3s linear);
    }
    blockquote {
        margin:30px 0;
        border-left:5px solid $green;
        p {
            font-family:Georgia, serif;
            color:$gray;
            font-style:italic;
            font-size:21px;
            font-weight:600;
            line-height:30px;
        }
        strong {
            color: $lt-gray;
            font-style:none;
            font-weight:500;
            font-family:$font-rb;
        }
    }
    figure {
        &.align-left {
            margin:10px  20px 10px 0;
        }
        &.align-right {
            margin:10px  0 10px 20px;
        }
        figcaption {
            font-family:$font-rb;
            color:$lt-gray;
            margin-top:10px;
            display:block;
            font-size:14px;
        }
    }
    table {
        border:none;
        tr {
            th {
                border:none;
                background:$blue; 
                font-family:$font-rb;
                color:#fff;
                padding:15px 30px;
                font-weight:700;
                text-transform:uppercase;   
            }
            td {
                border:none;
                background:#fff;
                padding:10px;
            }
            &:nth-of-type(2n) {
                td {
                    background:$xl-gray;
                    border-top:1px solid $lt-gray;
                }
            }
        }
    }
}
.typography {
    h1 {
    }
    i {
        font-size:24px
    }
    .example {
        border:1px solid darken(#f5f5f5, 20%);
        padding:30px 10px 10px;
        position:relative;
        &::after {
            background-color: #ebebeb;
            border: 1px solid #dddddd;
            border-radius: 0 0 4px 0;
            color: #9da0a4;
            content: "Example";
            font-size: 12px;
            font-style: normal;
            font-weight: bold;
            left: -1px;
            padding: 3px 7px;
            position: absolute;
            top: -1px;
        }
        + code, + .codeblock {
            background:#f5f5f5;
            border:1px solid darken(#f5f5f5, 20%);
            border-top:0;
            color:#333;
            display:block;
            border-radius:0;
            padding:10px;
            code {
                background:none;
                border:none;
                padding:0;
            }
        }
    }
    .row {
        + .row {
            margin-top:30px;
        }
    }
}